[Unit]
Description=Process Monitoring and Control Daemon
After=rc-local.service nss-user-lookup.target

[Service]
Type=forking
ExecStart=/usr/bin/supervisord -c /usr/local/supervisord/supervisord.ini

[Install]
WantedBy=multi-user.target
